.inline-block {
  display: inline-block;
}

.table {
  background: orange;
  width: 90%;
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}

.spinner {
  display: none;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 120px;
  height: 120px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0073e6;
  border-color: #0073e6;
}
